{% extends 'base.html' %} {% block title %}Predmet{% endblock %} {% block body%}

<!-- <div class="row">
  <div class="col-md-12">
    <div class="thumbnails row">
      <h3>{{ student.name }}</h3>
      <div class="col-xs-6 col-md-3">
        <img
         src="../uploads/{{ student.image }}" 
          width="1000px;"
          height="400px"
          alt=""
        />
      </div>
      <p>{{ student.name }}</p>
    </div>
  </div>
</div> -->

<!-- Predmet Form -->
<div class="well">
  <h4>Ocjeni Studenta:</h4>
  <form
    action="http://simpleschool.hr:8080/public/index.php?predmeti/create"
    method="post"
  >
    <div class="form-group">
      <label for="ocjena_naziv">Predemt</label>
      <input type="text" name="naziv" />
    </div>
    <div class="form-group">
      <label for="ocjena_naziv">Ocjena</label>
      <select name="ocjena_naziv">
        <option value="odlican">Odlican</option>
        <option value="vrlo dobar">Vrlo Dobar</option>
        <option value="dobar">Dobar</option>
        <option value="dovoljan">Dovoljan</option>
        <option value="nedovoljan">Nedovoljan</option>
      </select>
    </div>
    <div class="form-group">
      1<input type="radio" name="ocjena" value="1" /> 2<input
        type="radio"
        name="ocjena"
        value="2"
      />
      3<input type="radio" name="ocjena" value="3" /> 4<input
        type="radio"
        name="ocjena"
        value="4"
      />
      5<input type="radio" name="ocjena" value="5" />
    </div>
    <input type="hidden" name="id" value="{{ id }}" />
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
