{% extends 'base.html' %} {% block title %}Predmet{% endblock %} {% block body%}

<div class="student">
  <div class="picture">
    <img
      src="../uploads/{{ student.image }}"
      width="200px;"
      height="150px"
      class="studentPhoto"
    />
  </div>

  <div class="about">
    <h1>{{ student.name }}</h1>
    <h1>{{ student.surname }}</h1>
    <h3><h3>{{ student.email }}</h3></h3>
  </div>
</div>

<div class="student">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Naziv</td>
        <td>Ocjena</td>
        <td>Naziv Ocjene</td>
      </tr>
    </thead>
    <tbody>
      {% for predmet in predmeti %}
      <tr>
        <td>{{ predmet.naziv }}</td>
        <td>{{ predmet.ocjena }}</td>
        <td>{{predmet.ocjena_naziv }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Predmet Form -->
<div class="container">
  <h4>Ocjeni Studenta: {{ student.name }}</h4>
  <form
    action="http://simpleschool.hr:8080/public/index.php?predmeti/create"
    method="post"
  >
    <div class="form-group">
      <label for="ocjena_naziv">Predemt</label>
      <input type="text" name="naziv" />
    </div>
    <div class="form-group">
      <label for="ocjena_naziv">Ocjena</label>
      <select name="ocjena_naziv">
        <option value="odlican">Odlican</option>
        <option value="vrlo dobar">Vrlo Dobar</option>
        <option value="dobar">Dobar</option>
        <option value="dovoljan">Dovoljan</option>
        <option value="nedovoljan">Nedovoljan</option>
      </select>
    </div>
    <div class="form-group">
      1<input type="radio" name="ocjena" value="1" /> 2<input
        type="radio"
        name="ocjena"
        value="2"
      />
      3<input type="radio" name="ocjena" value="3" /> 4<input
        type="radio"
        name="ocjena"
        value="4"
      />
      5<input type="radio" name="ocjena" value="5" />
    </div>
    <input type="hidden" name="id" value="{{ student.id }}" />
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
