{% block body %} {% if student.errors is not empty %}
<p>Errors:</p>
<ul>
  {% for error in student.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="p-3 m-0 border-0 bd-example">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Add New Student</h1>

          <div class="col-md-6">
            <!--  <form action="index.php?signup/create" method="post"> if apache config are default -->
            <form
              action="http://simpleschool.hr:8080/public/index.php?Students/CreateNew"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  placeholder="name"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="surname"
                  placeholder="surname"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  name="email"
                  placeholder="email"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <input type="file" accept="image/jpeg, image/png" name="file" />
              </div>

              <input type="submit" name="submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
