{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<h1>Welcome</h1>

{% if current_user %} Hello {{ current_user.name }}.
<a href="/public/index.php?logout">Log out</a>{% else %}

<a href="http://simpleschool.hr:8080/public/index.php?signup/new"
  >Sign up
  <a href="http://simpleschool.hr:8080/public/index.php?login">Log In</a> </a
>. {% endif %}

<div class="row">
  <div class="col-md-8 mt-4 ml-4">
    <div class="thumbnails row">
      {% for student in students %}
      <div class="col-xs-6 col-md-3">
        <a
          href="http://simpleschool.hr:8080/public/index.php?students/showStudent&id={{ student.id }}"
          class="thumbnail"
        >
          <img
            src="../uploads/{{ student.image }}"
            width="200px;"
            height="150px"
            class="homePagePhoto"
          />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
