{% extends 'base.html' %} {% block title %}Studenti u razredu{% endblock %} {%
block body%}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Ime</td>
        <td>Email</td>
      </tr>
    </thead>

    <tbody>
      {% for student in studentiURazredu %}
      <tr>
        <td>{{ student.name}}</a></td>     
        <td>{{ student.email }}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      {% for nastavnik in nastavnikURazredu %}
      <tr>
        <td>Nastavnik</td>
       <td> 
           {{ nastavnik.ime_prezime_nastavnik }}
        </td></a>
      </tr>
      {% endfor %}
    </tfoot>
  </table>
</div>
{% endblock %}

